<header class="py-5">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center"><span class="bg-light">About</span></h3>
      </div>
    </div>
  </div>
</header>
<section class="pt-4">
    <div class="container px-lg-5">
      <div class="row">
        <div class="col">
        <p class="text-center">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>  
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      　様々なバリエーションをご用意しております。<br>
      　また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      　ぜひご注文ください。
        </p>
        </div>
      </div>
    </div>
  </section>
