<h1>ようこそ長野ケーキへ</h1>
<p>新着商品</p>
<% @item.each do |item| %> 
<table>
  <tr>
    <td><%= image_tag item.get_image(100,100) %></td>
  </tr>
  <tr>
    <td><%= item.name %></td>
  </tr>
  <tr>
    <td><%= item.with_tax_price %></td>
  </tr>
</table>
<% end %>
<%= link_to "すべての商品を見る＞", items_path %>