<h1>ジャンル編集</h1>
<%= form_with model: @genre, url: admin_genre_path do |f| %>
<table>
    <tbody>
        <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :name, autofocus: true %></td>
            <td><%= f.submit "変更を保存" %></td>
        </tr>
    </tbody>
</table>
<% end %>